.App {
  text-align: center;
}

.header-container {
  border-bottom: 1px solid gray;
  padding: 10px;
  display: flex;
}

.add-btn {
  width: 110px;
  margin-left: auto;
  right: 0;
  align-self: center;
}

.header {
  width: 200px;
  font-family: auto;
}
